In [ ]:
on-campus :-
    
    
off-campus drives:- it is open to all india
    
    
    
    
exam

apti and reas 
coding or psudo code



coding:-
-------







psudo code:-
----------

a = 8
if a>5:
    print("yes")
else:
    print("No")

1)Yes
2) No
3) djfbd
4) python
    
    
tech




hr

In [ ]:
# var:-
------

var is a containier used to store values

In [1]:
a = 5

In [2]:
b = 6

# shift + enter

In [3]:
a

5

In [4]:
b

6

In [5]:
c

NameError: name 'c' is not defined

In [ ]:
# comments:-
------------

in python we have 2 -types of comments

1) single line comment
2) multi line comment

In [ ]:
1) single line comment



# this is single line comment

In [ ]:
2) multi line comment

"""

this is muliline comment

"""

In [13]:
name = 'Subhashini'   # declaring name variable

In [9]:
name

'Subhashini'

In [ ]:
# Rules for declaring var in python:-

we have 3 - rules in python

In [ ]:
1) no spaces are allowed in the names of vars

In [14]:
name = 'siva'

In [15]:
full name = 'k.rajitha'

SyntaxError: invalid syntax (<ipython-input-15-93f62c72209f>, line 1)

In [16]:
full_name = 'k.rajitha'

In [17]:
full_name

'k.rajitha'

In [ ]:
2) no special chars are allowed in the name of var except underscore

In [18]:
$lang = 'python'

SyntaxError: invalid syntax (<ipython-input-18-42d9041e347c>, line 1)

In [19]:
_name = 'basjbas1'

In [20]:
_name

'basjbas1'

In [ ]:
3) var name should not be start with a number

In [21]:
1name = 'pavan'

SyntaxError: invalid syntax (<ipython-input-21-d9751e25e878>, line 1)

In [22]:
name1 = 'pavan'

In [23]:
name2 = 'bshbsa'

In [25]:
name2

'bshbsa'

In [ ]:
# Introduction to datatypes in python:-

1) string      --> str
2) List        --> list
3) Tuple       --> tuple
4) Dictionary  --> dict
5) Set         --> set

In [ ]:
#Understading of strings:-

what is a string?

string is series of chars or grp chars.


# how to declare a string in python

3 - ways

'PYTHON'
"PYTHON"
'''PYTHON'''


# properties of string

String is immutable datatype

# immutable:- no change of alter/modification is possible after it get declared

In [26]:
a = 'Subhashini'

In [27]:
a

'Subhashini'

In [28]:
stu = 'Subhashini'

In [29]:
y = 10

In [30]:
y

10

In [31]:
num = 10

In [32]:
num

10

In [34]:
greet = 'Welcome'

In [35]:
print(greet)

Welcome

In [36]:
print("my name is siva")

my name is siva

In [37]:
print('this is my notebook')

this is my notebook

In [38]:
print('this is Subhashini's notebook')

SyntaxError: invalid syntax (<ipython-input-38-02b9b51a4b03>, line 1)

In [39]:
print("this is Subhashini's notebook")

this is Subhashini's notebook

In [40]:
print('''this is Subhashini's notebook''')

this is Subhashini's notebook

In [ ]:
# i want to print

# this is "my session"

In [41]:
print("this is "my session")

SyntaxError: invalid syntax (<ipython-input-41-3edc4ba4b99e>, line 1)

In [42]:
print('''this is "my session" ''')

this is "my session"

In [43]:
name3 = 'siva'


name4 = "siva"


name5 = '''siva'''

In [44]:
print(name3,name4,name5)

siva siva siva

In [ ]:
# string methods:-

title()  --> intial as capital
upper()  --> to get all letters in cap letters
lower()  --> to get all letters in lower  case letters
islower()
isupper()
isdigit()
isalpha()
isalnum()

In [45]:
name

'siva'

In [46]:
name.title()

'Siva'

In [ ]:
# upper():-

In [47]:
name

'siva'

In [48]:
name.upper()

'SIVA'

In [ ]:
# lower() :-

In [49]:
name5 = 'SUBHASHINI'

In [50]:
name5

'SUBHASHINI'

In [51]:
name5.lower()

'subhashini'

In [52]:
name5.title()

'Subhashini'

In [ ]:
# islower() :-

# if the string having all are lower case letters , it returns true otherwise it returns false

In [53]:
name

'siva'

In [54]:
name.islower()

True

In [55]:
name5

'SUBHASHINI'

In [56]:
name5.islower()

False

In [ ]:
# isupper() :-

# if the string having all are upper case letters , it returns true otherwise it returns false

In [57]:
name5

'SUBHASHINI'

In [58]:
name5.isupper()

True

In [59]:
name2

'bshbsa'

In [60]:
name2.isupper()

False

In [ ]:
# isdigit() :-

In [61]:
num1 = '85264'

In [62]:
num1.isdigit()

True

In [63]:
name5

'SUBHASHINI'

In [64]:
name5.isdigit()

False

In [65]:
name10 = 'gsubsdjh19912912889'

In [66]:
name10.isdigit()

False

In [ ]:
# isalpha()


# it returns True, when string having only alphas, otherwise it returns False

In [67]:
name5

'SUBHASHINI'

In [68]:
name5.isalpha()

True

In [70]:
name2

'bshbsa'

In [71]:
name2.isalpha()

True

In [72]:
name10

'gsubsdjh19912912889'

In [73]:
name10.isalpha()

False

In [74]:
num

10

In [75]:
num1

'85264'

In [76]:
num1.isalpha()

False

In [ ]:
# isalnum()

num
alpha
num+alpha  ------> it retruns True for all three cases



otherwise it retruns False

In [77]:
name5

'SUBHASHINI'

In [78]:
name5.isalnum()

True

In [79]:
num1

'85264'

In [80]:
num1.isalnum()

True

In [81]:
name10

'gsubsdjh19912912889'

In [82]:
name10.isalnum()

True

In [83]:
name11 = '$#@bsdhsbhs'

In [84]:
name11.isalnum()

False

In [ ]:
python 2.x  --> 2.0,2.1,2.2,2.3.....2.9



python 3.x --> 3.0,3.1,3.2,3.3,3,3.4....3.9
F-string

In [ ]:
# f- strings:-
------------

formetted strings

it is used to combine to strings

In [85]:
first_name = 'k'

last_name = 'rajitha'

In [92]:
full_name = f"{first_name} {last_name}"

In [93]:
full_name

'k rajitha'

In [ ]:
# string concat

In [ ]:
+

In [95]:
f_name = 'V '
l_name = 'Subhashini'

In [96]:
full_name1 = f_name+l_name

In [97]:
full_name1

'V Subhashini'

In [98]:
age = 20

In [99]:
info = " my age is "+age

TypeError: can only concatenate str (not "int") to str

In [100]:
info = f"my age is {age}"

In [101]:
info

'my age is 20'

In [102]:
name5

'SUBHASHINI'

In [106]:
info1 = f"my name is {name5.title()}"

In [104]:
info1

'my name is SUBHASHINI'

In [107]:
info1

'my name is Subhashini'

In [ ]:
# swapcase()

In [108]:
greeting = 'WElcome TO THe sessION'

In [109]:
greeting

'WElcome TO THe sessION'

In [110]:
greeting.swapcase()

'weLCOME to thE SESSion'

In [ ]:
# validation of datatypes:-
-------------------------

In [ ]:
# how to validate a datatype



type()

In [112]:
name5

'SUBHASHINI'

In [113]:
type(name5)

str

In [114]:
num = 85

In [115]:
type(num)

int

In [116]:
a = 10.21

In [117]:
type(a)

float

In [118]:
b = 50.0

In [119]:
type(b)

float

In [ ]:
# efficent way of declaring vars:-

In [120]:
# this is not efficent

a = 1
b = 2
c = 3

In [121]:
# this is an effeint way

x,y,z = 1,2,3

In [122]:
print(x,y,z)

1 2 3

In [ ]:
# tab delimeters:-

\t ---> it is used to get one tab space


\n  --> it is sed to shift the control from one line to another line

In [123]:
print("Welcome")

Welcome

In [124]:
print("\twelcome")

	welcome

In [125]:
print("WEl\tcome")

WEl	come

In [126]:
print("This is python")

This is python

In [127]:
print("this is \npython")

this is
python

In [128]:
print("datatypes:- 1) String 2) list 3) tuple")

datatypes:- 1) String 2) list 3) tuple

In [129]:
print("Datatypes:-\n\t1)String\n\t2)List\n\t3)Tuple")

Datatypes:-
	1)String
	2)List
	3)Tuple

In [ ]:
# stripping concept:-
-------------------

strpping concept is used to remove white spaces



1) lstrip()  --> left strip
2) rstrip()  --> right strip
3) strip()

In [130]:
stu2 = '       madhuri'

In [131]:
stu2

'       madhuri'

In [135]:
print(f"my name is {stu2.lstrip()}")

my name is madhuri

In [ ]:
# lstrip()

In [133]:
stu2

'       madhuri'

In [134]:
stu2.lstrip()

'madhuri'

In [ ]:
# rstrip()

In [136]:
stu2 = 'pavani                '

In [137]:
stu2

'pavani                '

In [138]:
stu2.rstrip()

'pavani'

In [ ]:
# strip()

In [139]:
stu3 = '        pavan             '

In [140]:
stu3

'        pavan             '

In [141]:
stu3.strip()

'pavan'

In [142]:
2*2  # multiplication

4

In [143]:
2**2  # expo or power

4

In [144]:
3**2

9

In [145]:
3**3

27

In [146]:
12*2

24

In [ ]:
# how to get root value

In [147]:
9**0.5

3.0

In [148]:
4**0.5

2.0

In [149]:
2**0.5

1.4142135623730951